.span1, .span2, .span3, .span4,
.span5, .span6, .span7, .span8,
.span9, .span10, .span11, .span12 {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}

.span1  { width: 8.333333333333332%; }
.span2  { width: 16.666666666666664%; }
.span3  { width: 25%; }
.span4  { width: 33.33333333333333%; }
.span5  { width: 41.66666666666667%; }
.span6  { width: 50%; }
.span7  { width: 58.333333333333336%; }
.span8  { width: 66.66666666666666%; }
.span9  { width: 75%; }
.span10 { width: 83.33333333333334%; }
.span11 { width: 91.66666666666666%; }
.span12 { width: 100%; }

.offset1  { margin-left: 8.333333333333332%!important; }
.offset2  { margin-left: 16.666666666666664%!important; }
.offset3  { margin-left: 25%!important; }
.offset4  { margin-left: 33.33333333333333%!important; }
.offset5  { margin-left: 41.66666666666667%!important; }
.offset6  { margin-left: 50%!important; }
.offset7  { margin-left: 58.333333333333336%!important; }
.offset8  { margin-left: 66.66666666666666%!important; }
.offset9  { margin-left: 75%!important; }
.offset10 { margin-left: 83.33333333333334%!important; }
.offset11 { margin-left: 91.66666666666666%!important; }
.offset12 { margin-left: 100%!important; }