/* ---------- Table ---------- */
.table {
  border-collapse: collapse;
  thead tr th,
  tbody tr td,
  tfoot tr th {
    padding: 0 8px;
    font-size: 12px;
    line-height: 14px;
  }
  thead tr.controls th {
    border: none;
    background: #FFFFFF;
    padding: 8px;
    > ul > li {
      display: inline-block;
      vertical-align: middle;
    }
  }
  thead tr th,
  tfoot tr th {
    height: 32px;
  }
  thead tr {
    // &:last-child {
    //   th { border-bottom: solid 4px $grey_300; }
    // }
    th {
      outline: 0;
      background-color: $grey_100;
      color: $grey_600;
    }
  }
  tbody tr {
    &:first-child {
      td { border-top: solid 4px $grey_300; }
    }
    td {
      height: 40px;
      color: $grey_700;
      a:not(.btn):hover { text-decoration: underline; }
      &.actions {
        a, span {
          display: inline-block;
          vertical-align: middle;
          &:hover { text-decoration: none; }
          &.btn {
            &.circle { @include size(30px, 30px); }
            &:before { line-height: 28px; }
          }
        }
      }
    }
  }
  tfoot tr {
    th {
      background-color: $grey_100;
      border-top: solid 4px $grey_300;
    }
  }
}
/* ---------- END Table ---------- */

.table-striped > tbody {
  > tr:nth-child(even) > td { background: #F7F7F7; }
}
.table-bordered {
  tbody tr td { border-bottom: solid 1px $grey_300; }
}
.table-hover > tbody {
  > tr:hover > td { background: $grey_200; }
}